@font-face {
   font-family: fnn; /* Имя шрифта */
   src: url(fonts/fnn/fnn.ttf); /* Путь к файлу со шрифтом */
  }

@font-face {
  			font-family: "MyriadProRegular";
        src: url(fonts/MyriadProRegular/MyriadProRegular.ttf);
}
#header {
  height: 800px;
  background: #222 url(images/header.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;

}

.title p {
  position: absolute;
  left: 200px;
  top: 25px;
  float:left;
  text-transform: uppercase;
  font: 18px fnn, sans-serif;
  color: #fff;
}

nav {
  position: absolute;
  right: 220px;
  top: 20px;
  float:right;
}
ul {
  list-style-type: none;
}
nav li {
  margin-right: 30px;
  float:left;
}

/*nav li:last-child {
  margin-right: 0;
}*/

nav a {
  text-decoration: none;
  font: 14px MyriadProRegular, sans-serif;
  color: #fff;
}

#ghost {
  width: 500px;
  height: 100px;
  background: #580a48;
  position: absolute;
  top: 450px;
  left: 550px;
}

#ghost p {
  font: 46px MyriadProRegular, sans-serif;
  color: #fff;
  text-align: center;
  position: relative;
  top: 20px;
}
